<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umn.ac.id.erikaatmaja_00000027299_if633_bl_uts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ErikaAtmaja_00000027299_IF633_BL_UTS">
        <activity android:name=".profile.LoginActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".music.MusicActivity" />
        <activity android:name=".music.SongDetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>